<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Bookings</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
  <link rel="stylesheet" type="text/css" th:href="@{/styling/booking-list-style.css}">
  <link rel="icon" href="https://ztmibqzflhinqosjjbak.supabase.co/storage/v1/object/sign/images-source/beta_9941429.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMtc291cmNlL2JldGFfOTk0MTQyOS5wbmciLCJpYXQiOjE3MzQ4MTg1NTksImV4cCI6MzMyNzA4MTg1NTl9.VZ1abLXzFGSGJ4A2-Db-P3u578yhgwz8dSsqanXo7qk&t=2024-12-21T22%3A02%3A38.152Z">
</head>
<body>
<header>
  <div class="logo">
    <h1>Booking</h1>
  </div>
  <nav>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/hotel">Hotels</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </nav>
  <div class="auth-buttons" th:if="${isAuthenticated}">
    <span th:text="${username}" class="username"></span>
    <a href="/my-booking" class="btn">My Bookings</a>
    <a href="/logout" class="btn  btn-secondary">Logout</a>
  </div>
  <div class="auth-buttons" th:if="${!isAuthenticated}">
    <a href="/login" class="btn">Log in</a>
    <a href="/signup" class="btn btn-secondary">Sign up</a>
  </div>
</header>
<main>
  <section class="form-section">
    <div class="booking-container" th:each="booking : ${bookings}">
      <span class="booking-id" th:text="'#' + ${booking.id}"></span>
      <span class="booking-hotel" th:text="${hotelNames[booking.id]}"></span>
      <span class="booking-check-in" th:text="${booking.checkInDate}"></span>
      <span class="booking-check-out" th:text="${booking.checkOutDate}"></span>
      <span class="booking-total-price" th:text="${booking.totalPrice} + '€' "></span>
    </div>
  </section>
</main>
</body>
</html>