<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Bookings</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
  <link rel="stylesheet" type="text/css" th:href="@{/styling/booking-list-style.css}">
  <link rel="icon" href="https://ztmibqzflhinqosjjbak.supabase.co/storage/v1/object/sign/images-source/beta_9941429.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMtc291cmNlL2JldGFfOTk0MTQyOS5wbmciLCJpYXQiOjE3MzQ4MTg1NTksImV4cCI6MzMyNzA4MTg1NTl9.VZ1abLXzFGSGJ4A2-Db-P3u578yhgwz8dSsqanXo7qk&t=2024-12-21T22%3A02%3A38.152Z">
</head>
<body>
<header>
  <div class="logo">
    <h1>Booking</h1>
  </div>
  <nav>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/hotel">Hotels</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <div class="auth-buttons" th:if="${isAuthenticated}">
    <span th:text="${username}" class="username"></span>
    <a href="/my-booking" class="btn">My Bookings</a>
    <a href="/logout" class="btn  btn-secondary">Logout</a>
  </div>
  <div class="auth-buttons" th:if="${!isAuthenticated}">
    <a href="/login" class="btn">Log in</a>
    <a href="/signup" class="btn btn-secondary">Sign up</a>
  </div>
</header>
<main>
  <section class="form-section">
    <table class="table">
      <tr class="table-header" >
        <th class="col-1" scope="col">Reference</th>
        <th class="col-2" scope="col">Booking Date</th>
        <th class="col-3" scope="col">Hotel</th>
        <th class="col-2" scope="col">Check In</th>
        <th class="col-2" scope="col">Check Out</th>
        <th class="col-1" scope="col">Total</th>
        <th class="col-1" scope="col"></th>
      </tr>
      <form th:action="'/my-booking/' + ${booking.id} + '/delete'" method="POST" th:each="booking : ${bookings}">
    <tr class="table-content">
      <td class="col-1" scope="row" id="booking-id" th:text="'#' + ${booking.id}"></td>
      <td class="col-2" id="booking-date" th:text="${booking.bookingDate}"></td>
      <td class="col-3" id="booking-hotel" th:text="${hotelNames[booking.id]}"></td>
      <td class="col-2" id="booking-check-in" th:text="${booking.checkInDate}"></td>
      <td class="col-2" id="booking-check-out" th:text="${booking.checkOutDate}"></td>
      <td class="col-1" id="booking-total-price" th:text="${booking.totalPrice} + '€' "></td>
      <td class="col-1" id="delete"><button class="btn-submit" type="submit"> <svg xmlns="http://www.w3.org/2000/svg" height="27px" viewBox="0 -960 960 960" width="27px" fill="#f51b29"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg> </button></td>
    </tr>
      </form>
    </table>
  </section>
</main>
</body>
</html>