<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Hotels</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" type="text/css" th:href="@{/styling/hotelresultsstyle.css}">
</head>

<body>
<header>
    <div class="logo">
        <h1>Booking</h1>
    </div>
    <nav>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/hotel">Hotels</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <div class="auth-buttons" th:if="${isAuthenticated}">
        <span th:text="${username}" class="username"></span>
        <a href="/my-booking" class="btn">My Bookings</a>
        <a href="/logout" class="btn  btn-secondary">Logout</a>
    </div>
    <div class="auth-buttons" th:if="${!isAuthenticated}">
        <a href="/login" class="btn">Login</a>
        <a href="/signup" class="btn btn-secondary">Sign Up</a>
    </div>
</header>
<main>
    <a href="/hotel" class="btn btn-secondary return-btn">Return</a>
    <div class="hotel-list">
        <a th:href="@{'/hotel/' + ${hotel.id} + '/book'}" class="hotel-card-link" th:each="hotel : ${hotels}">
            <div class="hotel-card">
                <img th:src="${hotel.imageUrl}" alt="Hotel Image" class="hotel-image">
                <div class="hotel-info">
                    <div class="left-items">
                        <h3 th:text="${hotel.name}"></h3>
                        <p th:text="'Location: ' + ${hotel.location}" class="location"></p>
                    </div>
                    <div class="right-items">
                        <p th:text="${hotel.getPricePerNight().intValue()} + '€/Night'" class="night"></p>

                    </div>
                </div>
            </div>
        </a>
    </div>
</main>
<footer>
    <p>&copy; 2024 Booking. All rights reserved.</p>
</footer>
</body>

</html>
