<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" type="text/css" th:href="@{/styling/signupstyle.css}">
</head>
<body>
<header>
    <div class="logo">
        <h1>Booking</h1>
    </div>
    <nav>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="hotel">Hotels</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
        <a href="/login" class="btn">Login</a>
        <a href="signup" class="btn btn-secondary">Sign Up</a>
    </div>
</header>
<main>
    <section class="form-section">
        <h2 id="signup-success-header">Sign Up Successful !</h2>
    </section>
</main>
</body>
</html>